style
    include ../public/stylesheets/css/home.css
    include ../public/stylesheets/css/chimee-mobile-player.min.css
include layout    
block content
    .xsj-home-wrap
        .video-outer-box
            #js-xsj-video-box.xsj-video-box 
            img#js-video-play-btn.video-play-btn.ps-center(src="/images/bf-icon.png", alt="")
            // 视频信息区域
            #js-video-info.video-info
                // 右侧视频信息区域
                .right-video-info.js-open-app
                    .item-info
                        img.collection-img(src="/images/collection-icon.png", alt="").collection-img
                        p.info-num #{modelObj.info.connectInfo.collectNum}
                    .item-info
                        img.comment-img(src="/images/comment-icon.png", alt="").collection-img
                        p.info-num #{modelObj.info.connectInfo.commentNum}
                    .item-info
                        img.share-img(src="/images/share-icon.png", alt="").collection-img
                        p.info-num 分享
                // 视频当前底部信息区域         
                .bottom-video-info.js-open-app
                    .author-header
                        img.author-img(src="#{modelObj.info.userInfo.img}", alt="")
                        p.author-name #{modelObj.info.userInfo.nickName}
                        span.follow-btn 关注
                    p.video-desc    #{modelObj.info.desc}
            // 视频重播蒙层
            #js-video-replay-layer.video-replay-layer
                p#js-replay-btn.replay-btn
                    img.replay-img(src="/images/replay-icon.png", alt="")
                    span 重播 
                p.open-app-btn.js-open-app 打开APP观看
        // 第二屏列表内容
        section.second-screen-box
            // 作者热门视频
            if modelObj.hotVideoList.length 
                .author-hot-video
                    h3.title  ───  #{modelObj.info.userInfo.nickName}的热门视频  ───
                    .hot-list-box
                        ul.hot-list-ul.clearfix.js-open-app
                            each item , index in modelObj.hotVideoList
                                if index == 5
                                    li
                                        img.video-img(src="#{item.imgUrl}", alt="")
                                        .more-pop 点击查看更多
                                else
                                    li
                                        img.video-img(src="#{item.imgUrl}", alt="")
                                        img.bf-btn.ps-center(src="/images/bf-icon.png", alt="")
            // 热门推荐视频             
            include xsjRecommendList
        // 底部默认提示语                                               
        include xsjPlaceholder                        

                            
block script
    script(src='/javascripts/chimee-mobile-player.min.js')
    script(type="text/javascript").
        $(document).ready(function() {
            let $vBox = $('#js-xsj-video-box'); // 视频盒子
            let $vInfoBox = $('#js-video-info'); // 视频信息盒子

            let $replayLayer = $('#js-video-replay-layer'); // 重播蒙层
            let $playBtn = $('#js-video-play-btn');  // 视频内中心播放按钮
            let playIn = false;

            let xsjVideo = new ChimeeMobilePlayer({
                wrapper: '#js-xsj-video-box',  // video dom容器
                box: 'native', /*编解码容器 移动端用native,pc用hls*/
                src: '#{modelObj.info.video.videoUrl.D1080p}',
                poster: '!{modelObj.info.imgUrl}',
                controls: true,
                playsInline: true,
                preload: 'auto',
                x5VideoPlayerFullscreen: true,
                x5VideoOrientation: 'landscape|portrait',
                xWebkitAirplay: true,
                autoplay: false
            });
            xsjVideo.on('ended',function(){
                $playBtn.hide();
                $replayLayer.show();
                playIn = false;
            })
            xsjVideo.on('play',function(){
                $playBtn.hide();
                playIn = true;
            })
            xsjVideo.on('pause',function(){
                $playBtn.show();
                playIn = false;
            })
            $vBox.on('click',function(){
                handleVideo()
            });
            $vInfoBox.on('click',function(){
                handleVideo()
            });

            function handleVideo(){
                if(playIn){
                    xsjVideo.pause();
                }else{
                    xsjVideo.play();
                }
            }
            
            $replayLayer.on('click','#js-replay-btn',function(){
                $replayLayer.hide();
                xsjVideo.play();
            })
            $playBtn.on('click',function(){
                $(this).hide();
                xsjVideo.play();
            })
            $('img.lazy-load').lazyload({
                effect: 'fadeIn',   // 渐现，show(直接显示),fadeIn(淡入),slideDown(下拉)
                threshold: -20 // 预加载，在图片距离屏幕px时提前载入
            });
        })

        