style
    include ../public/stylesheets/home.css
    include ../public/stylesheets/chimee-mobile-player.min.css
include layout    
block content
    .xsj-home-wrap
        .video-outer-box
            #xsjVideo.xsj-video-box 
            img#js-video-play-btn.video-play-btn.ps-center(src="/images/bf-icon.png", alt="")
            // 视频信息区域
            .video-info
                // 右侧视频信息区域
                .right-video-info
                    .item-info.js-open-app
                        img.collection-img(src="/images/collection-icon.png", alt="").collection-img
                        p.info-num #{modelObj.videoInfo.collectionnum}
                    .item-info.js-open-app
                        img.comment-img(src="/images/comment-icon.png", alt="").collection-img
                        p.info-num #{modelObj.videoInfo.commentnum}
                    .item-info.js-open-app
                        img.share-img(src="/images/share-icon.png", alt="").collection-img
                        p.info-num 分享
                // 视频当前底部信息区域         
                .bottom-video-info
                    a(href="/author").author-header
                        img.author-img(src="#{modelObj.videoInfo.authorimg}", alt="")
                        p.author-name #{modelObj.videoInfo.authorname}
                        span.follow-btn 关注
                    p.video-desc    #{modelObj.videoInfo.videodesc}
            // 视频重播蒙层
            #js-video-replay-layer.video-replay-layer
                p#js-replay-btn.replay-btn
                    img.replay-img(src="/images/replay-icon.png", alt="")=重播 
                p.open-app-btn 打开APP观看
        // 第二屏列表内容
        section.second-screen-box
            // 作者热门视频
            if modelObj.hotVideoList.length 
                .author-hot-video
                    h3.title  ───  #{modelObj.videoInfo.authorname}的热门视频  ───
                    .hot-list-box
                        ul.hot-list-ul.clearfix
                            each item , index in modelObj.hotVideoList
                                li
                                    img.video-img(src="#{item.poster}", alt="")
                                    img.bf-btn.ps-center(src="/images/bf-icon.png", alt="")
                        
            .recommend-box
                h3.title  ───  热门推荐  ───
                ul#lazy-ul.recommend-list.clearfix
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了  
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了  
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了  
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了
                    li
                        img.video-img.lazy-load(data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3232021691,4000101662&fm=27&gp=0.jpg", alt="")
                        .video-info
                            p.video-name 赛道啊的哦 hi可我儿女情长粉丝发货请问我企鹅
                            p.author-name 要回家看了 
        // 底部默认提示语                                               
        include xsjPlaceholder                        




                            
block script
    script(src='/javascripts/chimee-mobile-player.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
    script(src='/javascripts/jquery.lazyload.js')
    script(src='/javascripts/h5CallApp.js')
    script(src='/javascripts/index.js')
    script(type="text/javascript").
        $(document).ready(function() {
            let $replayLayer = $('#js-video-replay-layer'); // 重播蒙层
            let $playBtn = $('#js-video-play-btn');  // 视频内中心播放按钮


            let xsjVideo = new ChimeeMobilePlayer({
                wrapper: '#xsjVideo',  // video dom容器
                box: 'native', /*编解码容器 移动端用native,pc用hls*/
                src: '#{modelObj.videoInfo.vUrl}',
                poster: '!{modelObj.videoInfo.poster}',
                controls: true,
                playsInline: true,
                preload: 'auto',
                x5VideoPlayerFullscreen: true,
                x5VideoOrientation: 'landscape|portrait',
                xWebkitAirplay: true,
                autoplay: false
            });
            xsjVideo.on('ended',function(){
                $playBtn.hide();
                $replayLayer.show();
            })
            xsjVideo.on('play',function(){
                $playBtn.hide();
            })
            xsjVideo.on('pause',function(){
                $playBtn.show();
            })
            $replayLayer.on('click','#js-replay-btn',function(){
                $replayLayer.hide();
                xsjVideo.play();
            })
            $playBtn.on('click',function(){
                $(this).hide();
                xsjVideo.play();
            })
            $('img.lazy-load').lazyload({
                effect: 'fadeIn',   // 渐现，show(直接显示),fadeIn(淡入),slideDown(下拉)
                threshold: -20 // 预加载，在图片距离屏幕px时提前载入
            });
        })

        